<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Não exibe a página até os estilos serem carregados -->
    <style>body { display: none; }</style>
    <!-- Configura o caminho da API -->
    <script type="text/javascript">window.apiPath = "<%= htmlWebpackPlugin.options.apiPath %>";</script>
    <script async src="<%= htmlWebpackPlugin.options.pageName %>.js"></script>
    <script async src="header.js"></script>
    <script async src="assets.js"></script>
    <title>Blog.io // Home</title>
</head>
<body>
    <div id="content"></div>
        <%= require("./header.html") %>
        <%= require("./" + htmlWebpackPlugin.options.pageName + ".html") %>
        <%= require("./footer.html") %>
    </div>
</body>
</html>