<article class="post" data-id="{{id}}">
    <div class="d-flex justify-content-between align-items-center">
        <!-- Título -->
        <a class="h2 post-title" href="/posts/{{id}}">{{ title }}</a>
        <!-- Barras de ferramentas -->
        {{#if @root.user }}
            <!-- Edição de título -->
            <input class="d-none post-title-editor h2 w-50" autocomplete="off" type="text h2">
            <!-- Modo edição desligado -->
            <form class="d-block m-0 p-0" method="POST">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-outline-dark" formaction="">Editar</button>
                    <button class="btn btn-outline-danger" formaction="/posts/{{id}}/delete">Remover</button>
                </div>
                <!-- Modo edição ligado -->
                <div class="d-none btn-group btn-group-sm">
                    <button class="btn btn-outline-success" formaction="">Salvar</button>
                    <button class="btn btn-outline-dark" formaction="">Cancelar</button>
                    <button class="btn btn-outline-danger" formaction="/posts/{{id}}/delete">Remover</button>
                </div>
            </form>
        {{/if}}
    </div>
    <!-- Meta-dados -->
    <div class="d-flex justify-content-between">
        <span class="mb-2">Autor: {{ creator.fullName }}</span>
        <span class="mb-w text-muted">{{ dateTime createdAt }}</span>
    </div>
    <!-- Imagem -->
    <a href="/posts/{{id}}">
        <img class="rounded img-fluid" src="https://picsum.photos/800/200?image={{ image }}">
    </a>
    <br><br>
    <!-- Conteúdo -->
    <div class="post-content">{{{ markdown content }}}</div>
    <!-- Área de edição -->
    {{#if @root.user }}
        <textarea class="d-none post-editor"></textarea>
    {{/if}}
    <!-- Ler mais -->
    {{#if isLong }}
        <div class="d-flex flex-column justify-content-center">
            <div class="text-muted h3 text-center">. . . . .</div>
            <a class="btn btn-primary col-xl-2 col-lg-4 col-md-6 mx-auto" href="/posts/{{ id }}">Ler mais</a>
        </div>
    {{/if}}
</article>